* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
}

input {
  color: #474747;
}

body {
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

.header,
.counting,
.prepare,
.contact,
.footer,
svg {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
}

.header {
  background: #0099ff;
  padding-top: 4.125rem;
  padding-bottom: 1.5rem;
}
.header img {
  grid-column: 2/3;
  width: 100%;
}
.header .desc {
  grid-column: 2/3;
  color: #ffff;
}
.header .desc h1 {
  margin-top: 1.5em;
  font-weight: 600;
  font-size: 1.75rem;
  width: 80%;
}
.header .desc p {
  width: 60%;
  margin-top: 0.2em;
  font-weight: 500;
  font-size: 1rem;
}

.counting {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}
.counting h2,
.counting img,
.counting .spending-input {
  grid-column: 2/3;
}
.counting h2 {
  font-size: 1.5rem;
  color: #3c3c3c;
  text-align: center;
}
.counting img {
  width: 100%;
  margin-top: 1.75rem;
}
.counting .spending-input {
  margin-top: 1.75rem;
}
.counting .spending-input .spending-now label,
.counting .spending-input .spending-pension label {
  color: #5b5b5b;
  font-size: 0.8rem;
  font-weight: 500;
}
.counting .spending-input .spending-now .input,
.counting .spending-input .spending-pension .input {
  display: flex;
  justify-content: space-between;
}
.counting .spending-input .spending-now .input input,
.counting .spending-input .spending-pension .input input {
  margin-top: 1em;
  width: 47%;
  font-size: 0.64rem;
  padding-block: 0.9em;
  padding-left: 0.7em;
  border: 1px solid #aaaaaa;
  border-radius: 1em;
  outline: none;
}
.counting .spending-input .spending-pension {
  margin-top: 1.6em;
}
.counting .spending-input .inflation {
  margin-top: 1.6em;
  display: flex;
  width: 100%;
}
.counting .spending-input .inflation .input-inflation {
  display: flex;
  width: 40%;
  margin-right: 0.5em;
}
.counting .spending-input .inflation .input-inflation input {
  width: 15%;
  border-radius: 1em 0px 0px 1em;
  border: 1px solid #aaaaaa;
  outline: none;
  padding-block: 0.9em;
  padding-left: 0.7em;
  font-size: 0.64rem;
  flex-grow: 10;
}
.counting .spending-input .inflation .input-inflation .percent {
  flex-grow: 1;
  font-size: 0.65rem;
  padding: 0.7em;
  color: #f1f1f1;
  background-color: #aaaaaa;
  border-radius: 0px 0.98em 0.98em 0px;
}
.counting .spending-input .inflation p {
  font-size: 0.8rem;
  color: #aaaaaa;
  width: 100%;
}
.counting .spending-input .output {
  margin-top: 1.5em;
}
.counting .spending-input .output .annual-spending,
.counting .spending-input .output .funds-required {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counting .spending-input .output .annual-spending p:first-child,
.counting .spending-input .output .funds-required p:first-child {
  width: 60%;
}
.counting .spending-input .output .annual-spending p {
  font-weight: 500;
  font-size: 0.8rem;
  color: #797979;
}
.counting .spending-input .output .annual-spending p.total {
  font-weight: bold;
  font-size: 1rem;
}
.counting .spending-input .output .funds-required {
  margin-top: 1.5em;
}
.counting .spending-input .output .funds-required p {
  font-weight: 500;
  font-size: 1rem;
  color: #545454;
}
.counting .spending-input .output .funds-required p.total {
  font-size: 1rem;
  font-weight: 600;
}

.prepare {
  background: #0099ff;
  color: #ffff;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
.prepare h2,
.prepare img,
.prepare p,
.prepare .input-funds,
.prepare .funds-prepared {
  grid-column: 2/3;
}
.prepare h2 {
  text-align: center;
}
.prepare img {
  margin-top: 1.75em;
  width: 100%;
}
.prepare p {
  margin-top: 2em;
  width: 76%;
  font-size: 0.8rem;
}
.prepare .input-funds {
  margin-top: 1.5em;
}
.prepare .input-funds .return {
  display: flex;
}
.prepare .input-funds .return input {
  width: 43%;
  border-radius: 1em 0 0 1em;
  border: none;
  font-size: 0.64rem;
  outline: none;
  padding-block: 0.9em;
  padding-left: 0.7em;
}
.prepare .input-funds .return .percent {
  background-color: #b4b4b4;
  color: #ffff;
  font-size: 0.75rem;
  padding: 0.5em 0.8em;
  border-radius: 0 0.85em 0.85em 0;
}
.prepare .input-funds .already-funds {
  margin-top: 1em;
}
.prepare .input-funds .already-funds input {
  border-radius: 1em;
  border: none;
  font-size: 0.64rem;
  outline: none;
  padding-block: 0.9em;
  padding: 0.7em;
}
.prepare .funds-prepared {
  margin-top: 1.5em;
}
.prepare .funds-prepared .monthly-investation,
.prepare .funds-prepared .annual-investation {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1.8fr 1fr;
}
.prepare .funds-prepared .monthly-investation p:first-child,
.prepare .funds-prepared .annual-investation p:first-child {
  font-weight: 500;
  font-size: 0.8rem;
  grid-column: 1;
}
.prepare .funds-prepared .monthly-investation p.total,
.prepare .funds-prepared .annual-investation p.total {
  grid-column: 2;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

.contact h3,
.contact .socmed,
.contact img {
  grid-column: 2/3;
}
.contact img {
  display: none;
}
.contact h3 {
  font-weight: 600;
  font-size: 1rem;
  color: #555555;
}
.contact .socmed {
  margin-top: 0.8em;
}
.contact .socmed p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.contact .socmed p img {
  display: block;
  width: 1.5em;
  margin-right: 0.5em;
}
.contact .socmed p a {
  text-decoration: none;
  color: #555555;
  font-size: 0.8rem;
}

.footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  color: #555555;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}
.footer img {
  display: inline-block;
  margin-inline: 0.25em;
  width: 1.5em;
}

/*# sourceMappingURL=style.css.map */
