* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Poppins;
  font-style: normal;
}

$centerValue: 90%;

@mixin gridIt {
  display: grid;
  grid-template-columns: 1fr $centerValue 1fr;
}

@mixin childGrid($child: true) {
  @if $child {
    grid-column: 2 / 3;
  } @else {
    grid-column: 1 / 4;
  }
}

body {
  @include gridIt();
}

.header {
  @include childGrid(false);
  @include gridIt();

  background: #0099ff;
  padding-top: 4.125rem;
  padding-bottom: 1.5rem;

  img {
    @include childGrid();

    width: 100%;
  }

  .desc {
    @include childGrid();
    color: #ffff;

    h1 {
      margin-top: 1.5em;
      font-weight: 600;
      font-size: 1.75rem;
      width: 80%;
    }

    p {
      width: 60%;
      margin-top: 0.2em;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

svg {
  @include childGrid(false);
}

.counting {
  @include childGrid(false);
  @include gridIt();

  padding-top: 1.5rem;

  h2 {
    @include childGrid();

    font-size: 1.5rem;
    color: #3c3c3c;
    text-align: center;
  }

  img {
    @include childGrid();
    width: 100%;
    margin-top: 1.75rem;
  }

  .spending-input {
    @include childGrid();
    margin-top: 1.75rem;

    .spending-now,
    .spending-pension {
      label {
        color: #5b5b5b;
        font-size: 0.8rem;
        font-weight: 500;
      }

      .input {
        display: flex;
        justify-content: space-between;

        input {
          margin-top: 1em;
          width: 47%;
          font-size: 0.64rem;
          padding-block: 0.9em;
          padding-left: 0.7em;

          border: 1px solid #aaaaaa;
          border-radius: 1em;
          outline: none;
        }
      }
    }

    .spending-pension {
      margin-top: 1.6em;
    }

    .inflation {
      margin-top: 1.6em;
      display: flex;

      width: 100%;

      .input-inflation {
        display: flex;

        width: 40%;
        margin-right: 0.5em;

        input {
          width: 15%;
          border-radius: 1em 0px 0px 1em;
          border: 1px solid #aaaaaa;
          outline: none;

          padding: 0.7em;
          font-size: 0.64rem;

          flex-grow: 10;
        }

        .percent {
          flex-grow: 1;
          font-size: 0.65rem;
          padding: 0.7em;
          color: #f1f1f1;
          background-color: #aaaaaa;
          border-radius: 0px 1em 1em 0px;
        }
      }

      p {
        font-size: 0.8rem;
        color: #aaaaaa;
        width: 100%;
      }
    }
  }
}
